
{% extends "template_base.html" %}

{% block content %}

<style>

.button_orange {
  width: 250px;
  background-color: #FB5C06;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button_red {
  width: 250px;
  background-color: #FF0000;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button_green {
  width: 250px;
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
</style>


<div class="container">
  <div class="jumbotron">
  	<table align="center" id="tab1"> 
  	<tr align="center">
  		<h3>Envio de alarmas</h2>
  	</tr>
  	<tr>
  		<td>
  			<form action="{%url 'core_app:correo_envio'%}" method="get">
		    	<input type="hidden" name="alerta_id" value="2"/>
				<button class="button_red" type="submit">Critico</button>
		    </form>
        </td>
        <td>
        </td>
        <td>

        	<form action="{%url 'core_app:correo_envio'%}" method="get">
		    	<input type="hidden" name="alerta_id" value="1"/>
		    	<button class="button_orange" type="submit">Seguridad</button>
		    </form>
        </td>
        <td>
        </td>
        <td>

        	<form action="{%url 'core_app:correo_envio'%}" method="get">
		    	<input type="hidden" name="alerta_id" value="0"/>
		    	<button class="button_green" type="submit">Notificacion</button>
		    </form>
        </td>
    </tr>
    <tr></tr>
    </table>
    <div align = "center">
        <a href="/app/" style="float:right; display:inline-block;margin:20px">volver
    </div>
  </div>
</div>

{% endblock %}